<div class="mt-5 container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-8">
            <div class="crud-table d-flex justify-content-between">
                <div class="form-inline pull-left">
                    <button class="btn btn-success" (click)="addUser()">
                    <i class="fa-solid fa-plus fs-5"></i>
                    增加使用者
                    </button>
                </div>
                <!-- 把下方搜尋功能用成組件 -->
                <app-search-bar (search)="searchUsers($event)"></app-search-bar>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Country</th>
                        <th>Salary</th>
                        <th>Email</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="text-left">
                    <tr *ngFor="let user of users; let i = index;">
                        <td>{{user.name}}</td>
                        <td>{{user.country}}</td>
                        <td>{{user.salary | number}}</td>
                        <td>{{user.email}}</td>
                        <td>
                            <button class="btn btn-primary w-100" (click)="editUser(i)">Edit</button>
                        </td>
                        <td>
                            <button class="btn btn-danger w-100" (click)="deleteUser(i)">Delete</button>
                        </td>
                    </tr>
                    <tr class="text-left">
                        <td colspan="2">
                            <b>Total</b>
                        </td>
                        <td  *ngIf="users.length > 0">{{totalSalary | number}}</td>
                        <td *ngIf="users.length === 0">0</td>
                        <td colspan="3"></td>
                    </tr>
                </tbody>
            </table>
            <div class="crude-form__wrapper" *ngIf="showAddUserForm">
                <h3>{{isEditing ? '編輯使用者' : '新增使用者'}}</h3>
                <form [formGroup]="userForm"  (ngSubmit)="isEditing ? updateUser() : submitAddUserForm()">
                    <div class="form-group">
                        <label for="editName">Name</label>
                        <input id="editName" type="text" formControlName="name" placeholder="Edit name" required class="form-control">
                        
                        <div *ngIf="userForm.get('name') && userForm.get('name')?.invalid && userForm.get('name')?.touched" class="alert alert-danger mt-3">
                            Name is required.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="editCounty">Country</label>
                        <input id="editCounty" type="text" formControlName="country" placeholder="Edit country" required class="form-control">
                        
                        <div *ngIf="userForm.get('country')?.invalid && userForm.get('country')?.touched" class="alert alert-danger mt-3">
                            Country is required.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="editSalary">Salary</label>
                        <input id="editSalary" type="number" formControlName="salary" placeholder="Edit salary" min="1" required class="form-control">
                       
                        <div *ngIf="userForm.get('salary')?.invalid && userForm.get('salary')?.touched" class="alert alert-danger mt-3">
                            Salary is required and must be a positive number.
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="editEmail">Email</label>
                        <input id="editEmail" type="email" formControlName="email" placeholder="Edit email" required class="form-control">
                       
                        <div *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched" class="alert alert-danger mt-3">
                            Please enter a valid email address.
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary me-3" [disabled]="userForm.invalid">Save change</button>
                    <button type="button" class="btn btn-primary" (click)="showAddUserForm=false">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>

