<app-header></app-header>
<!-- banner -->
<section>
    <div class="wrap">
        <h2>Perfume your day</h2>
        <p>A perfume is like a piece of clothing, a message, a way of presenting oneself a costume that according to the person who wears it.</p>
        <a href="javascript:;">Shop now</a>
    </div>
</section>
<img src="../../assets/image/banner.jpg" alt="">
<!-- 產品介紹1-->
<section>
    <div class="d-flex">
        <div>
            <h3>Gabrielle CHANEL</h3>
            <p>全新嗅覺體驗，花香四溢、明亮馥郁。結合茉莉、依蘭依蘭、橙花和最迷人的格拉斯晚香玉之花香，呈現出夢幻花香氣息。 極具女性特質的香奈兒嘉柏麗香水，專為光芒四射的她而生。</p>
        </div>
        <div>
            
        </div>
    </div>
</section>

<!-- 產品介紹2 -->
<section></section>

<!-- 產品介紹3 -->
<section></section>

<app-footer></app-footer>