<app-header></app-header>
<!-- banner -->
<section class="banner">
    <div class="container ">
        <div class="row d-flex  col-sm-5 ms-sm-auto">
            <div class="wrap text-white">
                <h2 class="fs-2 fw-bold lh-base">Perfume your day</h2>
                <p class="mb-3 lh-base">A perfume is like a piece of clothing, a message, a way of presenting oneself a costume that according to the person who wears it.</p>
                <a class="action-btn-light fs-3 " href="javascript:;">Shop now</a>
            </div>
        </div>
    </div>
</section>

<!-- 產品介紹1-->
<section class="product">
    <div class="container my-5">
        <div class="row">
            <div>
                <img src="../../assets/image/index1.jpg" alt="產品1號">
                <div>
                    <h3 class="fs-2 fw-bold">Gabrielle CHANEL</h3>
                    <p class="mb-2">全新嗅覺體驗，花香四溢、明亮馥郁。結合茉莉、依蘭依蘭、橙花和最迷人的格拉斯晚香玉之花香，呈現出夢幻花香氣息。 極具女性特質的香奈兒嘉柏麗香水，專為光芒四射的她而生。</p>
                    <a class="d-block mb-3" href="javascript:;">查看更多</a>
                </div>
            </div>
            <div>
                <img src="../../assets/image/index2.png" alt="產品2號">
                <div>
                    <h3 class="fs-2 fw-bold">Five O’clock Au Gingembre</h3>
                    <p class="mb-2">生薑與溫醇的肉桂香、紅糖的香甜摻和成一氣，溫暖微辛的氣息反倒形成一股輕煙氤氳開來，還帶點微微煙醺感漫溢在整個鼻息之間，細聞之下,又還有溫溫淡淡的木香，溫和而暖心。</p>
                    <a class="d-block mb-3" href="javascript:;">查看更多</a>
                </div>
            </div>
            <div>
                <img src="../../assets/image/index3.jpg" alt="產品3號">
                <div>
                    <h3 class="fs-2 fw-bold">Five O’clock Au Gingembre</h3>
                    <p class="mb-2">生薑與溫醇的肉桂香、紅糖的香甜摻和成一氣，溫暖微辛的氣息反倒形成一股輕煙氤氳開來，還帶點微微煙醺感漫溢在整個鼻息之間，細聞之下,又還有溫溫淡淡的木香，溫和而暖心。</p>
                    <a class="d-block mb-3" href="javascript:;">查看更多</a>
                </div>
            </div>
            <div>
                <img src="../../assets/image/index4.jpg" alt="產品4號">
                <ul>
                    <li>
                        <h3 class="fs-2 fw-bold">1. <br>Levels of Preventive Maintenance Compliance</h3>
                        <p>The core idea of preventative maintenance is the performance of proactive actions against unscheduled downtime in order to identify potential defects before they evolve into something more severe.</p>
                    </li>
                    <li>
                        <h3 class="fs-2 fw-bold">2. <br>Percentage of Planned Maintenance</h3>
                        <p>The planned maintenance percentage is the total planned maintenance time in your CMMS software over a date range over the total number of hours of a service performed by the technicians.</p>
                    </li>
                    <li>
                        <h3 class="fs-2 fw-bold mb-3">3. <br>Critical percentage of planned maintenance</h3>
                        <p>Calculating the critical percentage of planned maintenance will help you prioritize the most important operations that should be performed immediately.</p>
                    </li>
                    <a class="action-btn-dark fs-3 " href="javascript:;">Shop now</a>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- 產品介紹2 -->
<section class="discount">
    <div class="container">
        <ul class="row">
             <li>
                 <img class="w-100" src="../../assets/image/index5.jpg" alt="產品五">
                 <div>
                     <h3>Poppy & Barley</h3>
                     <p>Jo Malone</p>
                     <p>NT$1,380 <span>NT$1,380</span></p>
                 </div>
             </li>
             <li>
                <img class="w-100" src="../../assets/image/index5.jpg" alt="產品五">
                <div>
                    <h3>Poppy & Barley</h3>
                    <p>Jo Malone</p>
                    <p>NT$1,380 <span>NT$1,380</span></p>
                </div>
            </li>
            <li>
                <img class="w-100" src="../../assets/image/index5.jpg" alt="產品五">
                <div>
                    <h3>Poppy & Barley</h3>
                    <p>Jo Malone</p>
                    <p>NT$1,380 <span>NT$1,380</span></p>
                </div>
            </li>
        </ul>
    </div>
</section>

<!-- 循環利用 -->
<section class="ecycling">
    <div class="container my-5">
        <div class="ecycling_img"></div>
        <div>
            <h3 class="fs-2 fw-bold mb-3">Bottle-Recycling</h3>
            <p>Recycle your used empty bottles and be rewarded!</p>
            <p>For the past 10 years, we have collected over 800,000 bottles through Empty Bottle Recycling Campaign and planted more than 860 pine trees for a better environment.For the past 10 years, we have collected over 800,000 bottles through Empty Bottle Recycling Campaign and planted more than 860 pine trees for a better environment.</p>
            <a href="javascript:;">查看更多</a>
        </div>
    </div>
</section>

<!-- 訂閱 -->
<section class="subscription">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3 class="fs-1 fw-bold text-gray">記得<br>訂閱以獲取更多資訊！</h3>
                <div class="subscription_Input d-flex">
                    <input class="p-2" type="text" placeholder="Your email address">
                    <button class="subscription_btn text-white w-100" href="javascript:;">Subscribe</button>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>