/* 客製化 CSS */
.banner{
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url('../../assets/image/banner.jpg');
	padding: 101px 0px 135px 0px;
	@media (min-width:540px) {
		height: 95vh;
	}
}


.action-btn-light{
	display: inline-block;
	width: 100%;
	padding: 8px 0px;
	border: 2px solid #ffff;
	border-radius: 30px;
	color: #ffff;
	text-align: center;
	font-size: 28px;
	transition: all 0.3s ease;
	&:hover{
		background-color: #916000;
		border-color:#916000;
	}
	@media (min-width:540px) {
		width: 350px;
	}
}

.action-btn-dark{
	display: inline-block;
	width: 100%;
	padding: 8px 0px;
	border: 2px solid #000;
	color: #000;
	border-radius: 30px;
	text-align: center;
	font-size: 20px;
	transition: background-color 0.3s ease;
	&:hover{
		padding: 8px 0px;
		background-color: #000;
		color: #fff;
	}
}

.discount{
	background-color:#E0E0E0;
	li{
		transition: box-shadow 0.3s ease, transform 0.3s ease;
		&:hover{
			box-shadow:  3px 3px 3px rgba(170, 170, 170, 0.3);
			transform: translate(-3px, -3px);
		}
	}
	.product{
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		@media (min-width:540px) {
			background-position: center bottom;
		}

	}
	.product_1{
		width: 100%;
		height: 350px;
		background-image: url("../../assets/image/index5.jpg");
		@media(min-width:540px) {
			height: 540px;
		}
	}
	.product_2{
		width: 100%;
		height: 350px;
		background-image: url("../../assets/image/index6.jpg");
		@media(min-width:540px) {
			height: 540px;
		}
	}
	.product_3{
		width: 100%;
		height: 350px;
		background-image: url("../../assets/image/index7.jpg");
		@media(min-width:540px) {
			height: 540px;
		}
	}

	.product_title{
		&:hover{
			color: #916000;
		}
	}
}

// hover 效果
.overlay{
	opacity: 0;
	position: relative; /* 將區塊設置為相對定位 */
	::before{
		content: 'ABCD'; /* 要顯示的文本 */
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: white;
		font-size: 24px;
		opacity: 1; /* 將 opacity 設置為 1，以確保文本可見 */
		z-index: 1;
	}
	&:hover{
		background-color: #fff;
		opacity: 0.2;
	}
}
/* 回收ecycling */
.ecycling{
	.ecycling_img{
		height: 520px;
		background-image: url("../../assets/image/index8.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
}

/* 訂閱消息 */
.subscription{
	background-image: url('../../assets/image/subscribe.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center left;
	padding: 312px 0px 112px 0px;
}

.subscription_Input{
	border: 2px solid #916000;
	border-radius: 4px;
	@media (min-width:540px) {
		width: 345px;
	}
	.email_input{
		padding: 18px 16px;
	}

	.subscription_btn{
		background-color: #916000;
		color: #fff;
		transition: background-color 0.3s ease ;
		&:hover{
			background-color: #6c4901;
		}
	}
}


