<app-header></app-header>
<!-- banner -->
<section class="banner d-md-flex align-items-center">
    <div class="container">
        <div class="row col-md-5 ms-md-auto">
            <div class="wrap text-white">
                <h2 class="c_text_32_40 fw-bold lh-base">Perfume your day</h2>
                <p class="mb-3 lh-base c_text_20_24">A perfume is like a piece of clothing, a message, a way of presenting oneself a costume that according to the person who wears it.</p>
                <a class="action-btn-light lh-base fs-3 " href="javascript:;">Shop now</a>
            </div>
        </div>
    </div>
</section>

<!-- 產品介紹1-->
<section class="product">
    <div class="container c_py">
            <div class="row g-0  d-md-flex flex-row-reverse align-items-center">
                <img class="col-md-6" src="../../assets/image/index1.jpg" alt="產品1號">
                <div class="col-md-4 mx-auto c_mb">
                    <h3 class="fs-2 fw-bold mt-2">Gabrielle CHANEL</h3>
                    <p class="mb-2 mb-md-3">全新嗅覺體驗，花香四溢、明亮馥郁。結合茉莉、依蘭依蘭、橙花和最迷人的格拉斯晚香玉之花香，呈現出夢幻花香氣息。 極具女性特質的香奈兒嘉柏麗香水，專為光芒四射的她而生。</p>
                    <a class="d-block mb-32 c_secondary" href="javascript:;">查看更多</a>
                </div>
            </div>

            <div class="row g-0 align-items-center">
                <img class="col-md-6" src="../../assets/image/index2.png" alt="產品2號">
                <div class="col-md-4 mx-auto c_mb">
                    <h3 class="fs-2 fw-bold mt-2">Five O’clock Au Gingembre</h3>
                    <p class="mb-2 mb-md-3">生薑與溫醇的肉桂香、紅糖的香甜摻和成一氣，溫暖微辛的氣息反倒形成一股輕煙氤氳開來，還帶點微微煙醺感漫溢在整個鼻息之間，細聞之下,又還有溫溫淡淡的木香，溫和而暖心。</p>
                    <a class="d-block mb-3 c_secondary" href="javascript:;">查看更多</a>
                </div>
            </div>
         
            <div class="row g-0 d-md-flex flex-row-reverse align-items-center">
                <img class="col-md-6" src="../../assets/image/index3.jpg" alt="產品3號">
                <div class="col-md-4 mx-auto c_mb">
                    <h3 class="fs-2 fw-bold mt-2">Five O’clock Au Gingembre</h3>
                    <p class="mb-2 mb-md-3">生薑與溫醇的肉桂香、紅糖的香甜摻和成一氣，溫暖微辛的氣息反倒形成一股輕煙氤氳開來，還帶點微微煙醺感漫溢在整個鼻息之間，細聞之下,又還有溫溫淡淡的木香，溫和而暖心。</p>
                    <a class="d-block mb-3 c_secondary" href="javascript:;">查看更多</a>
                </div>
            </div>
     
            <div class="row g-0 align-items-center">
                <img class="col-md-6" src="../../assets/image/index4.jpg" alt="產品4號">
                <ul class="col-md-4 mx-auto">
                    <li class="c_mb_20_52">
                        <h3 class="fs-2 fw-bold">1. <br>Levels of Preventive Maintenance Compliance</h3>
                        <p>The core idea of preventative maintenance is the performance of proactive actions against unscheduled downtime in order to identify potential defects before they evolve into something more severe.</p>
                    </li>
                    <li class="c_mb_20_52">
                        <h3 class="fs-2 fw-bold">2. <br>Percentage of Planned Maintenance</h3>
                        <p>The planned maintenance percentage is the total planned maintenance time in your CMMS software over a date range over the total number of hours of a service performed by the technicians.</p>
                    </li>
                    <li class="c_mb_20_52">
                        <h3 class="fs-2 fw-bold mb-3">3. <br>Critical percentage of planned maintenance</h3>
                        <p>Calculating the critical percentage of planned maintenance will help you prioritize the most important operations that should be performed immediately.</p>
                    </li>
                    <a class="action-btn-dark fs-3" href="javascript:;">Plan a free online training</a>
                </ul>
            </div>
    </div>
</section>
<!-- 產品介紹2 -->
<section class="discount c_s_py">
    <div class="container">
        <ul class="row">
             <li class="col-md-4 mb-4">
                <a href="javascript:;">
                    <div class="position-relative">
                        <div class="product product_1"></div>
                    </div>
                     <div>
                         <h3 class="product_title fw-bold fs-4 mt-2">Poppy & Barley</h3>
                         <p class="mb-1 mb-md-3">Jo Malone</p>
                         <p>NT$1,380 <span class="ms-2 c_gray text-decoration-line-through">NT$1,580</span></p>
                     </div>
                </a>
             </li>
             <li class="col-md-4 mb-4">
                <a href="javascript:;">
                    <div class="position-relative">
                        <div class="product product_2"></div>
                    </div>
                    <div>
                        <h3 class="product_title fw-bold fs-4 mt-2">Poppy & Barley</h3>
                        <p class="mb-1 mb-md-3">Jo Malone</p>
                        <p>NT$1,580</p>
                    </div>
                </a>
            </li>
            <li class="col-md-4 mb-4">
                <a href="javascript:;">
                    <div class="position-relative">
                        <div class="product product_3"></div>
                    </div>
                    <div>
                        <h3 class="product_title fw-bold fs-4 mt-2">Body Wash</h3>
                        <p class="mb-1 mb-md-3">Curology</p>
                        <p><span>NT$1,580</span></p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>

<!-- 循環利用 -->
<section class="ecycling">
    <div class="container my-5">
        <div class="row d-flex align-items-md-center">
            <div class="ecycling_img col-md-8"></div>
            <div class="col-md-4">
                <h3 class="fs-2 fw-bold mb-3">Bottle-Recycling</h3>
                <p>Recycle your used empty bottles and be rewarded!</p>
                <p class="mb-3">For the past 10 years, we have collected over 800,000 bottles through Empty Bottle Recycling Campaign and planted more than 860 pine trees for a better environment.For the past 10 years, we have collected over 800,000 bottles through Empty Bottle Recycling Campaign and planted more than 860 pine trees for a better environment.</p>
                <a class="c_secondary" href="javascript:;">查看更多</a>
            </div>
        </div>
    </div>
</section>

<!-- 訂閱 -->
<section class="subscription">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3 class="fs-1 fw-bold c_gray mb-4">記得<br>訂閱以獲取更多資訊！</h3>
                <div class="subscription_Input d-flex">
                    <input class="email_input" type="text" placeholder="Your email address">
                    <a class="subscription_btn text-white w-100 d-flex justify-content-center align-items-center" href="javascript:;">Subscribe</a>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>