<footer class="c_primary py-5">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-4 d-flex justify-content-between align-items-center justify-content-md-start text-white ">
                <h2>
                    <a class="footer-logo" href="javascript:;">D,PERFUME</a>
                </h2>
                <p class="ms-md-4 fs-7">© 2020. All Rights Reserved.</p>
            </div>
            <ul class="col-md-4 d-none d-md-flex justify-content-end text-white">
                <li class="c_ml_36 fs-5"><a href="javascript:;">Product</a></li>
                <li class="c_ml_36 fs-5"><a href="javascript:;">Blog</a></li>
                <li class="c_ml_36 fs-5"><a href="javascript:;">Contact</a></li>
            </ul>
        </div>
    </div>
</footer>